.historyContainer {
  margin-top: 25px;
}

.historyContentDivider {
  width: 30%;
  padding: unset;
  margin: 20px 0;
}

.historyImageContainer {
  width: 100%;
  margin: unset;
}

.historyTextContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.historyFigureImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}