.aboutContainer {
  margin-top: 25px;
}

.imageTextContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.figureImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}