@import '../../css/sizes.css';

.Body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--text-font-family);
  letter-spacing: 2px;
}

.SectionContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--size-48)
}

.Title {
  display: flex;
  font-family: var(--header-font-family);
  font-size: var(--size-48);
  font-weight: 600;
  letter-spacing: 2px;
  margin:  0 auto var(--size-24);
}