@import '../css/sizes.css';

.Body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.SectionContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--size-48)
}

.Title {
  display: flex;
  font-size: var(--size-48);
  font-weight: 500;
  margin:  0 auto var(--size-24);
}