@import '../../../shared/css/sizes.css';
@import '../../../shared/css/theme.css';

.FooterContainer {
  align-items: center;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  line-height: var(--size-48);
  margin-top: var(--size-24);
}
