.aboutImg {
  width: 400px;
  height: 400px;
  margin-right: 25px;
}

.aboutDiv {
  margin-top: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.aboutText {
  width: 650px;
}