@import '../../shared/css/sizes.css';
@import '../../shared/css/theme.css';

.ButtonContainer {
  font-family: var(--text-font-family);
  display: flex;
  justify-content: space-between;
  width: var(--size-350);
}

.CompanyLogoContainer {
  display: inline-flex;
}

.CompanyLogoTitle {
  line-height: var(--size-60);
  color: var(--white-text-color);
  letter-spacing: var(--size-2);
  font-family: var(--header-font-family);
  font-weight: 600;
  font-size: var(--size-48);
  margin-left: var(--size-30);
}

.HeaderContainer {
  align-items: center;
  background-color: var(--secondary-color);
  border-bottom: 1px solid #ddd;
  justify-content: space-around;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row;
  height: var(--size-100);
  padding: 0 var(--size-50);
  width: 100%;
}

.Logo {
  height: 100%;
  width: 100%;
}

.LogoImgContainer {
  height: var(--size-60);
  width: var(--size-80);
}