@import '../../css/theme.css';
@import '../../css/sizes.css';

#secondaryButton.Button {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: unset;
  color: var(--secondary-text-color);
  font-size: var(--size-20);
  font-weight: 600;
  letter-spacing: var(--size-2);
  padding: var(--size-10);
  position: relative;
  transition: 0.3s;
}

#secondaryButton.Button::before {
  border-bottom: 1px solid var(--secondary-text-color);
  bottom: 0;
  content: '';
  left: 0;
  margin: 0 auto;
  padding: 0 var(--size-10);
  position: absolute;
  right: 0;
  transition: 0.3s;
  width: 0;
}

#secondaryButton.Button:hover::before {
  padding: 0;
  width: 100%;
}
