/** The theme of the app. This includes colors and other appropriate css. */

:root {
  /* App colors. */
  /* --primary-color: #546e7a; */
  --primary-color: #ffffff;
  --primary-color-dark: #cccccc;
  --primary-color-light: #ffffff;
  /* --secondary-color: #e0e0e0; */
  --secondary-color-dark: #0049b5;
  --secondary-color-light: #69a1ff;
  --secondary-color:  #1a73e8;
  

  /* Text colors. */
  /* --primary-text-color: #ffffff; */
  /* --secondary-text-color: #000000; */
  --primary-text-color:#000000;
  --secondary-text-color:#ffffff;
  --white-text-color: #ffffff;

  /* Fonts. */
  --header-font-family: 'Raleway', sans-serif;
  --text-font-family: 'Lato', sans-serif;
}