.historyDiv {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 25px;
}

.historyImg {
  border-radius: 50%;
  height: 400px;
  margin-left: 25px;
  width: 400px;
}

.historyText {
  width: 650px;
}

.historyImg2 {
  border-radius: 50%;
  height: 400px;
  margin-right: 25px;
  width: 400px;
}