@import '../../css/theme.css';

#secondaryButton.Button {
  /* background-color: var(--secondary-color); */
  background-color: var(--secondary-color-jan);
  /* border-color: var(--secondary-color); */
  /* color: var(--secondary-text-color); */
  color: var(--white-text-color);
}

#secondaryButton.Button:hover,
#secondaryButton.Button:focus,
#secondaryButton.Button:active {
  /* background-color: var(--secondary-color-dark); */
  background-color: #69a1ff;
  /* border-color: var(--secondary-color-dark); */
  color: var(--primary-text-color);
  transition: all 0.3s ease-in;
}

#secondaryButton.Button:focus {
  box-shadow: 0 0 0 0.2rem var(--secondary-color-light);
}
